Package: com.twodayslate.alwaysunlock
Name: alwaysunlock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Unlock your device with any passcode!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Version: 0.0.3-3
Installed-Size: 188
